<?xml version="1.0"?>
<!--
MIT License Copyright (c) 2020  Javier Cañon | https://www.javiercanon.com
-->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<caching>
			<outputCache defaultProvider="DiskOutputCache">
				<providers>
					<add name="DiskOutputCache" type="DiskOutputCacheProvider"/>
				</providers>
			</outputCache>
		</caching>
	</system.web>
</configuration>
